$main-color: #8a70d6;
$main-dark-color: #7458c9;
$main-light-color: #e9e3fe;
$black-color: #404340;
$gray-color: #aeaeae;
$error-color: #b71f1f;
$bg-color: #f5f6fa;

// FontSize variables

$fs-h1: 2.5rem;
$fs-h2: 2.1rem;
$fs-h3: 1.8rem;
$fs-medium: 1.3rem;
$fs-normal: .9rem;
$fs-small: .7rem;
