.main_layout {
	background-color: $bg-color;
	.main_layout_bar {
		padding: 1rem 2rem;
		background-color: white;
		height: 60px;
		
		
	}
	.main_content_wrapper {
		display: flex;
		
		
		.main_content_menu {
			flex: 0 0 230px;
			background-color: white;
			padding-top: 2rem;
			box-shadow: 0px 3px 11px 0px rgba(179, 161, 161, 0.2392156863)
		}
		.main_content {
            flex: 1;
			padding: 2rem ;
		}
	}
}
