.main_menu {
	ul {
		> li {
			a {
				color: $black-color;
				display: block;
				padding: .5rem 1rem;
				font-size: $fs-h5;
				@include transition(all, 0.5s, ease); 
				&.active {
					background-color: $main-color;
					color: white;
				}
			}
		}
	}
	
}
