.filter_container{
    background-color: white;
    padding: 1rem 1.5rem;
    form{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 1rem; 
       
        .filter_btn{
            margin-left: auto;
            background-color: #8a70d6;
            color: white;
            padding: 0;
            width: 35px;
            height: 35px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1rem;
            border: 0;
        
        }
    }


}
.buttons_wrapper{
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}