.btn_style {
	border-color: $main-color;
	font-size: $fs-h5;
	background-color: $main-color;
	color: white;
	padding: .5rem 1.5rem;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: .5rem;
	@include transition(all, 0.5s, ease);
	&:hover {
		background-color: $main-dark-color;
		color: white;
	}
	&:focus {
		box-shadow: none;
		outline: 0;
	}

	
}
